*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    z-index: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0c7b0; /* Verde Claro */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 12px;              
  }
  
  ::-webkit-scrollbar-track {
    background: none;       
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);    
    border-radius: 20px;       
    border: 3px solid ;  
  }

::-webkit-scrollbar-corner{
    border-radius: 20px;
}


header {
    display: flex;
    align-items: center;
    background-color: #ff7f00;
    height: 100px;
    width: 100vw - 10px;
    position: relative;
}

header img{
    position: absolute;
    width: 220px;
    height: 99px;
    top: 0;
    right: 0;
    object-fit: cover;
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 40px;
}

header h1 {
    margin: 0;
    color: #fff;
}

nav{
    position: sticky;
    top: 0px;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #e97c0e; /* Laranja */
}

nav ul button {
    background-color: #e97c0e; /* Laranja */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.content{
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
}

main {
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 85%;
    height: 81.5vh;
    margin-top:0;
    align-items: center;

}


main p{
    color: #000000;
    margin-bottom: 10px;
}

main h3{
    color: #000000;
}

main section, main section p {
    color: aliceblue;
    background-color:  #648d74;
    padding: 10px;
    border-radius: 10px;
}


section {

    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section p{
    text-align: center;
}

aside {
    position: static;
    align-items: center;
    background-color: #648d74; 
    padding: 20px;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 15%;

    overflow: scroll;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


h4{
    margin-top: 10px;
}

h3 {
    margin-bottom: 10px;
}

article {
    margin-bottom: 20px;
}

article img{
    background-color: #333;
    border-radius: 5px;
    padding: 4px;
    max-width: 100%;
    height: auto;
}

button {
    background-color: #ce7c01; /* Laranja */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    color: #000000;
}
button:hover {
    background-color: #ee8a18; /* Laranja Escuro */
}

input::placeholder,input, select, option{
    background: rgb(255, 136, 0);
    border-radius: 10px;
    color: white;
    padding: 3px;
    border-color: aliceblue;
    margin: 10px;
    color: #000000;
    
}

input{
    text-align: center;
}

select{
    cursor: pointer;
}

.calcAge, .ração{
    border-radius: 20px;
}



@media (max-width: 460px) {
    *{
        font-size: small;
    }
    nav ul button {
        font-size: 14px;
        padding: 8px 16px;
    }

    body{
        overflow-x: hidden;
    }

    
 
    header{
        height: 20vw;
    }

    main {
        padding: 10px;
    }

    aside {
        flex-direction: row;
        height: max-content;
        width: 100vw
    }
    article{
        position: relative;
        width: 100vw;
        height: max-content;
        top: 40px;
        right: 10px;
    }

    aside h3{
        display: none;
    }

    aside h4, aside p{
        display: none;
    }

    aside img{
        gap: 10px;
        display: flex;
        width: 200px !important;
        height: 100px !important;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }

    input::placeholder, input, select, option {
        padding: 2px;
        margin: 5px;
    }
    .content{
        flex-direction: column-reverse;
    }

    header img{
     display: none;
    }
}

